
body{
  background-color: #1f1e1e;
  color: white;
  overflow: hidden;

}
h1{
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;

}
.todo-box{
  background: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(27, 27,27);
}

.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px solid rgb(78, 78, 78);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

.todo-items label{
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-items input{
  padding: 8px;
  border: none;
  width: 250px;
}
.todo-items input:focus{
  
 outline: 2px solid rgb(0, 230, 122);
}

.primary-button{
  background-color: rgb(0, 230, 122);
  color: white;
  border: none;
  border-radius: 0% ;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}

.primary-button:hover{
  background-color: rgb(4, 196, 106);
}

.secbtn{
  background-color: gray;
  color: white;
  border: none;
  border-radius: 0% ;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;

}

.active{
  background-color: rgb(0, 230, 122);
}
.displayArea{
  display: flex;
  flex-direction: column;
}

.items{
  background-color: #414040;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 15px;
  box-shadow: 0px 3px 5px gray;
  
}

.items h2{
  font-size: 25px;
  color: rgb(0, 230, 122);
}

.items p{
  font-size: 14px;
  color: rgb(0, 230, 122);
  margin-top: 8px;


}
.cons{
  margin-top: 17px;
}

.check-icon{
  font-size: 28px;
  cursor: pointer;
  margin-left: 10px;
  color: rgb(105, 167, 138);

}
.check-icon:hover{
  color: rgb(0, 230, 122);
}
.del-icon{
  font-size: 27px;
  cursor: pointer;
  
}
.del-icon:hover{
  color: rgb(143, 62, 62);
}


